@model IEnumerable<NTUB.FileManager.Site.Models.ViewModels.DocIndexVM>

@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/Files/@item.FileName" style="width: 100%; height: 300px; object-fit: cover ">
                    <div class="caption">
                        <h3>@item.Title</h3>
                        <p>@item.Description</p>
                        <p><a href="~/Files/@item.FileName" class="btn btn-primary" role="button">檢視全尺寸圖片</a> <a href="~/Docs/Edit/@item.Id" class="btn btn-default" role="button">編輯</a></p>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
